
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&family=Pacifico&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background-color: #1b1b1b;
  background-repeat: no-repeat;
  background-size: cover;
}

/* body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color: #000000;
  
} */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000; 
  position: relative;
  z-index: 1;
}


.nav img {
  height: 50px;
}


.nav div {
  display: flex;
  gap: 20px;
}


.nav a {
  text-decoration: none;
  color: #fff; 
  font-size: 16px;
  transition: color 0.3s;
}


.nav a.active {
  color: #ccc; 
}


.nav .sign-in, .nav .sign-up {
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}


.nav .sign-in {
  background-color: transparent;
  border: 2px solid transparent;
}


.nav .sign-up {
  background-color: #f5a623; 
  color: #000; 
}


.nav a:hover {
  color: #f5a623;
}

.nav .sign-up:hover {
  background-color: #fff;
  color: #f5a623;
}


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}



.home-container {
  background-image: url('./assets/images/coffee_image.png'); 
  background-size: cover;
    background-position: center;
    height: calc(100vh - 60px); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
    margin-top: -60px; 
    z-index: -1;
}


.home-content {
  max-width: 600px;
  z-index: 1;

}


.home-content h1 {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  
}


.home-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 400;
}


.home-content .btn {
  padding: 10px 20px;
  background-color: #f5a623; 
  color: #000;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.home-content .btn:hover {
  background-color: #fff;
  color: #f5a623;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 0;
}







.test {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* About Page stye */

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(255,254,252);
}

.deskripsi {
  flex: 1;
  margin-right: 20px;
}

.coffee-cup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffee-cup img {
  max-width: 100%;
  height: auto;
}

.learn-more {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #f5a623;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 100px;
}

.hiasan{
  /* background-image: url('./assets/images/coffee_blast.png');
  background-repeat: no-repeat;
  z-index: 999; */
}
